@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

svg {
  width: 30px;
  display: flex;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.sidebar {
  width: 20%;
  background-color: #ffffff;
  height: 100vh;
}

button {
  background-color: purple;
  color: #ffffff;
}

.pane {
  overflow-y: auto;
  /* padding: 10px; */
}

.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar--header>h3 {
  font-size: 1.75rem;
}

.editor {
  width: 80%;
  height: 100vh;
  background-color: #ffffff;
}

.split {
  display: flex;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.mde-header-group {
  display: flex;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4A4E74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-note {
  background-color: #4A4E74;
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}